:root{
    --color-white:#fff;
    --color-dark1: rgb(39, 39, 39);
    --color-dark2: #2d2d2d;
    --color-dark3: #414141;
    --color-dark4: #1c1c1c;  
    --color-dark5: #343434;;
    --color-verdinho:#0f8356;
    --color-verde:#033d27;
}

*{ 
  margin: 0;
  padding: 0;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background-color:var(--color-dark1);
  color: var(--color-white);
  
  box-shadow: 1px 1px 4px var(--color-dark4);
  border-radius: 5px;
  font-size:1.3em;
  line-height: 1.5em;
}


 a{
  color: rgb(115, 136, 255);
 }

 h2{
  font-size:2.0em;
  margin: 10px 0px;
  padding-left: 5%;
 }

 h3{
  color: var(--color-verde);
  
  font-size:20px;
 }

 figure{
  width: 100%;
 }

 
  header nav {
      background-color:var(--color-dark2);
      box-shadow: 1px 1px 4px var(--color-dark4);
      height: 3.5em;

      display:flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 0% 5%;   
  }

  header nav ul {
      display: flex;
      gap: 2em;
  }

  header nav a{
      text-decoration: none;
      color: var(--color-verdinho);
      transition: 1s;
      font-weight: bold;
  }

  .bnt-icon-header{
      display: none;
      background-color: transparent;
      border: none;
      color: var(--color-white);
      cursor:pointer
  }

      
      
  header nav {
      display:flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 0% 10%
  }

  section{
  text-align: left;
  margin:0;
  padding: 30px 0px;
  }
  section p {
  margin:0;
  padding: 5px 0px;
 }
 

 .inicio{
  display:flex;
  flex-direction:row;
  align-items: center;
  justify-content:space-between;
  gap:100px;
  padding:5%;
 }
 
 .inicio img {
 width: 70%;
 padding: 0px 0px
 }

 .local{
  display:flex;
  flex-direction:row;
  align-items: center;
  justify-content:space-between;
  gap:100px;
  margin: 0;
  padding:5%;
 }
 .local img {
  width: 300px;
  padding: 0px 0px
  }

#adote-amor{
  font-size:2.0em;
  padding-top:2.0em;
  padding-bottom:10px;
  text-align: center;
}

.adote-amor{

  background-color: var(--color-verdinho);
  display: flex;
  flex-direction: column;
  padding:5%;
  border-radius: 20px;
 
}

.adote-amor h2::after{
  margin: 30px auto;
  content:'';
  width: 600px;
  height: 5px;
  background: currentColor;
  display: block;
  border-radius: 70px;
}

li{
  list-style: none;
}


@media screen and (max-width: 768px){
  body{
    font-size: large;
  }
  header nav {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0% 10%;   
  }
  header h1{
    display:none;
  }
  img{
     width: 70%; 
     height: 5%;
  }
  .local{
   flex-direction:column;
   gap: 10px;
  }

  .local img{
    flex-direction:column;
    left: 0;
   }
  .inicio{
   flex-direction:column;
   gap: 10px;
  }

  .adote-amor h2::after{
    margin: 30px auto;
    content:'';
    width: 480px;
    height: 5px;
    background: currentColor;
    display: block;
    border-radius: 70px;
  }
 }

 @media screen and (max-width:992) {
  
  body{
    
  }
 }




footer {
  padding: 3px;
  border-width: 1px;
  border-style: ridge;
  border-color: black;
  background-image: linear-gradient(to right, rgb(25, 58, 41), #013024);   
  bottom: 0;
  width: 100%;
  text-align: center;
}
